


@media (max-width:1440px) {
    
}
@media (max-width:1200px) {
    header#header .header-top .header-top-right .header-social>ul{
        display: none;
    }
    header#header .header-top .header-top-right .header-search{
        max-width: 300px;
        margin-left: 22px;
    }
    header#header .header-top .header-top-right .header-search .header-search-btn{
        width: 100%;
    }
    .lang-select{
        margin-left: 22px;
    }
    .tag-hot>.container{
        flex-direction: column;
    }
    .tag-hot>.container .layout-hotline{
        display: inline-flex;
        width: max-content;
        margin-top: 10px;
    }
    .owl-carousel .owl-nav .owl-prev{
        left: 20px;
    }
    .owl-carousel .owl-nav .owl-next{
        right: 20px;
    }
    #album-image .owl-carousel::before, #album-image .owl-carousel::after {
        width: 120px;
    }
    .owl-carousel .owl-nav [class*=owl-]{
        top: calc(50% - 30px);
    }
    .owl-carousel .owl-nav [class*=owl-]{
        top: 25%;
    }
    #category-or .owl-carousel .owl-nav [class*=owl-]{
        top: 25%;
    }
    .header-nav{
        width: auto;
    }
    .header-megamenu{
        width: 100%;
        justify-content: flex-end;
        margin-left: 0;
    }
    .header-mega{
        width: 100%;
        right: 0;
    }
    .breadcrumb ul {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    #category-main{
        margin-top: 30px;
    }
}
@media (max-width:991px) {
    .footer-logo svg{
        margin-top: 20px;
        display: block;
    }
    .swiper-item-category{
        margin-top: 30px;
    }
    .box-content-category-main .swiper-item-category{
        margin-top: 0;
    }
    .box-content-category-main .layout-title a:not(.view-all) {
        font-size: 18px;
    }
    .home-sub-title,
    .box-content-category-main .view-all {
        font-size: 14px;
    }
    .home-fv-title {
        font-size: 22px;
    }
    .home-fv-info {
        margin-bottom: 10px;
    }
    .list-search-result .item .content .info .time ,
    #category-or .item-category-or .box-category-middle .box-category-link-title {
        font-size: 15px;
    }
    .home-bn-sub.box-ads-right{
        display: block;
    }
    .list-search-result .item .image {
        width: 250px;
        height: 145px;
    }
    .list-search-result .item .content {
        width: calc(100% - 271px);
    }
    .list-search-result .item .content .title {
        font-size: 20px;
    }
    .list-search-result .item .content .info .cate {
        font-size: 14px;
    }
    .list-search-result .item .content .info{
        margin-bottom: 8px;
    }
    .focus-category-video-top .wrap-category-top .home-fv-list::after{
        display: none;
    }
    
    .box-focus .col-lg-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .box-focus .col-lg-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    #detail .col-lg-9.col-md-8,
    #search .col-lg-9.col-md-8{
        flex: unset;
        max-width: 100%;
    }
    .box-ads-category-right{
        display: none;
    }
    .tag-hot>.container{
        flex-direction: row;
    }
    .tag-hot .box-left-tag{
        width: calc(100% - 256px);
    }
    .tag-hot>.container .layout-hotline{
        margin-top: 0;
        margin-left: 10px;
        min-width: max-content;
    }
    .home-box-news-content .list-responsibility-or{
        margin-top: 0;
    }
    #album-image .owl-carousel .owl-nav [class*=owl-] {
        top: calc(50% - 20px);
    }
}
@media (max-width:768px) {
    .home-ncna-list{display: none;}
    .box-content-category-main .view-all{
        display: none;
    }
    header#header .header-top .header-top-flex .header-top-left .header-logo img{
        width: 115px;
        min-width: 115px;
    }
    .list-search-result .item .image {
        width: 100%;
        height: auto;
    }
    .list-search-result .item .content {
        width: 100%;
    }
    .home-bn-sub.box-ads-right{
        display: none;
    }
    header#header .header-top .header-top-flex .header-top-left .header-tweather{
        margin-left: 15px;
    }
    #list-select img, .btn-select img {
        width: 18px;
        min-width: 18px;
    }
    #list-select li img {
        margin: 0px 5px;
        width: 18px;
    }
    header#header .header-top .header-top-right .header-search {
        margin-left: 15px;
    }
    .box-focus .col-lg-4,
    .box-focus .col-lg-8{
        flex: unset;
        max-width: 100%
    }
    
    header#header.active{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .3s;
    }
    header#header .header-top{
        transition: all .3s;
    }
    header#header.active .header-top{
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: all .3s;
    }
    .header-mega {
        width: unset;
        right: 0;
        margin: 0 -15px;
    }
    
    .home-box-news-content .list-responsibility-or{
        margin-top: 30px;
    }
    .tag-detail-footer{
        flex-wrap: wrap;
    }
}
@media (max-width:667px) {
    header#header .header-top .header-top-flex .header-top-left .header-logo {
        margin-right: 15px;
    }
    .home-fv-scroll .home-fv-item {
        flex: 0 0 85%;
        max-width: 85%;
        min-width: auto;
    }
}
@media (max-width:576px) {
    header#header .header-top .header-top-flex .header-top-left .header-logo img{
        width: 90px;
        min-width: 90px;
    }
    header#header .header-top .header-top-flex .header-top-left .header-logo{
        margin-right: 0;
    }
    .contact-info .title{
        text-align: center;
        margin-left: 0;
    }
    header#header .header-top .header-top-right .header-social .select-lang{
        display: none;
    }
    header#header .header-top .header-top-flex .header-top-left .header-tweather img{
        width: 22px;
        min-width: 22px;
    }
    header#header .header-top .header-top-flex .header-top-left .header-tweather .value{
        font-size: 12px;
    }
    .tag-hot>.container .layout-hotline{
        display: none;
    }
    .tag-hot .box-left-tag{
        width: 100%;
    }
    .tag-detail-footer.tag-hot .list-tag{
        overflow: unset;
        flex-wrap: wrap;
    }
}

@media (max-width:375px) {
    .tag-hot>.container .layout-hotline{
        display: none;
    }
}