

:root {
    
    --color-bg-main: #1C2788;
    --color-main: #02E0B8;
    --color-title: #000000;
    --color-text: #515151;
    --color-red: #f47820
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    color: var(--color-text);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0
}

*,
::before,
::after {
    box-sizing: border-box;
    /* word-break: break-all; */
}

p {
    margin-bottom: 0px;
}

a {
    /* color: var(--color-text); */
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    /* color: #FFE600; */
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: Arial,Helvetica,sans-serif;;
    line-height: 1.33;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


.m-100 {
    margin-top: 100px!important;
}
.mt-80{
    margin-top: 80px!important;
}
.mb-80{
    margin-bottom: 80px!important;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1200px;
}


.font-bold {
    font-weight: 700;
}

.bg-white {
    background-color: white;
}
.bg-main{
    background-color: var(--color-bg-main);
}

.color-main {
    color: var(--color-main) !important
}
.color-white{
    color: #FFF;
}
.color-white>a{
    color: #FFF!important;
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}

.box-image img{
    width: 100%;
    height: 100%;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.line-2{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;

}
.line-3{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;

}
.background-tranparent{
    background: transparent!important;
}
.font-normal{
    font-weight: 400!important;
}

/* HEADER  */
/* HEADER  */
/* HEADER  */
header#header{
    position: relative;
    z-index: 19;
}
header#header .header-top{
    padding: 7.5px 0 5.5px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
header#header .header-top .header-top-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .header-top .header-top-flex .header-top-left{
    display: flex;
    align-items: center;
}
header#header .header-top .header-top-flex .header-top-left .header-logo{
    margin-right: 44px;
    min-width: max-content;
}
header#header .header-top .header-top-flex .header-top-left .header-logo img{
    width: auto;
    min-width: max-content;
}
header#header .header-top .header-top-flex .header-top-left .header-tweather{
    display: flex;
    align-items: center;
    font-size: 14px;
}
header#header .header-top .header-top-flex .header-top-left .header-tweather *{
    line-height: 1;
}
header#header .header-top .header-top-flex .header-top-left .header-tweather span:first-child{
    min-width: max-content;
}
header#header .header-top .header-top-flex .header-top-left .header-tweather img{
    margin-right: 5px;
    margin-top: -2px;
    min-width: max-content;
}
header#header .header-top .header-top-right{
    display: flex;
    align-items: center;
}
header#header .header-top .header-top-right .header-social{
    display: flex;
    align-items: center;
}
header#header .header-top .header-top-right .header-social>ul{
    display: flex;
    align-items: center;
}
header#header .header-top .header-top-right .header-social>ul li{
    margin-left: 14px;
    width: max-content;
}
header#header .header-top .header-top-right .header-social>ul li img{
    min-width: max-content;
}
header#header .header-top .header-top-right .header-social .select-lang{
    position: relative;
}
header#header .header-top .header-top-right .header-search{
    width: 100%;
    position: relative;
    margin-left: 50px;
}
header#header .header-top .header-top-right .header-search .header-search-btn{
    width: 300px;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 22px;
    height: 35px;
    justify-content: center;
    text-align: left;
    font-size: 14px;
    min-width: unset;
}
header#header .header-top .header-top-right .header-search .header-search-submit{
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-middle {
    background: #1c2788;
    height: 38px;
    position: relative;
    z-index: 1;
}

.header-middle-flex {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-nav {
    height: 38px;
    width: 100%;
}

.header-nav ul {
    display: flex;
    justify-content: space-around;
}

@media(max-width: 1199px) {
    .header-nav ul {
        display:none
    }
}

.header-nav ul li {
    position: relative;
    margin-right: 22px;
    height: 38px;
    display: flex;
    align-items: center
}

@media(max-width: 1199px) {
    .header-nav ul li {
        margin-right:12px
    }
}

.header-nav ul li:first-child {
    margin-right: 10px
}

.header-nav ul li:last-child {
    margin-right: 0
}

.header-nav ul li:hover .nav-link {
    color: var(--color-red)
}

.header-nav ul li:hover .nav-sub {
    display: block
}

.header-nav ul li .nav-link {
    color: #fff;
    font-size: 16px;
    line-height: calc(16/18);
    font-weight: bold;
    padding: 0;
}
.header-nav ul li .nav-link:hover svg path{
    fill: var(--color-red);
}

@media(max-width: 1199px) {
    .header-nav ul li .nav-link {
        font-size:14px;
        line-height: 16px
    }
}

.header-nav ul li .nav-link:hover {
    color: var(--color-red)
}

.header-nav ul li .nav-sub {
    position: absolute;
    background: #f2f4fd;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    border-radius: 0;
    width: 260px;
    top: 100%;
    left: 0;
    display: none;
    z-index: 2
}

.header-nav ul li .nav-sub .nav-sub-link {
    display: block;
    padding: 6px 16px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 18px;
    color: #515151
}

.header-nav ul li .nav-sub .nav-sub-link:hover {
    background: var(--color-red);
    color: #fff
}

.header-megamenu {
    position: relative;
    height: 38px;
    display: flex;
    align-items: center;
    margin-left: 27px;
}

.header-megamenu .btn {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 3px;
    width: 26px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 0;
    
}

.header-megamenu .btn.active {
    background: var(--color-red)
}

.header-megamenu .btn.active span {
    background: #fff
}

.header-megamenu .btn span {
    background: #1c2788;
    border-radius: 10px;
    width: 17px;
    height: 2px;
    margin: 1.6px 0
}

.header-mega {
    position: absolute;
    width: 1170px;
    right: 0;
    top: 100%;
    background: #f2f4fd;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    border-radius: 0;
    max-height: 0;
    transition: all .3s ease;
    overflow: hidden;
    z-index: 9
}

@media(max-width: 1199px) {
    .header-mega {
        width:930px
    }
}

@media(max-width: 991px) {
    .header-mega {
        width:690px
    }
}

@media(max-width: 767px) {
    .header-mega {
        width:510px
    }
}

@media(max-width: 575px) {
    .header-mega {
        width:100vw;
        right: -15px
    }
}
@media(max-width: 575px) {
    body.openmn {
        overflow:hidden;
        position: relative;
    }
    body.openmn::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: #000000b0;
    }
}

.header-mega.show-menu {
    max-height: 3000px
}

.header-mega-content {
    display: flex;
    flex-wrap: wrap;
    padding: 33px 30px;
    padding-bottom: 0
}

@media(max-width: 575px) {
    .header-mega-content {
        padding:15px;
        overflow-y: auto;
        height: calc(100vh - 128px)
    }
}

.header-mega-category {
    width: calc(33.33% - 56px);
    margin-bottom: 50px;
    margin-right: 84px
}

.header-mega-category:nth-child(3n) {
    margin-right: 0
}

@media(max-width: 991px) {
    .header-mega-category {
        width:calc(50% - 15px);
        margin-right: 30px;
        margin-bottom: 30px
    }

    .header-mega-category:nth-child(3n) {
        margin-right: 30px
    }

    .header-mega-category:nth-child(2n) {
        margin-right: 0
    }
}

@media(max-width: 575px) {
    .header-mega-category {
        width:100%;
        margin-bottom: 15px;
        margin-right: 0 !important
    }
}

.header-mega-category .title {
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #000;
    padding-bottom: 8px;
    border-bottom: .2px solid rgba(0,0,0,.2);
    display: block;
    margin-bottom: 12px;
    text-transform: uppercase
}

.header-mega-category .sub-title {
    display: block;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 18px;
    color: #515151
}
.header-mega-category .title:hover,
.header-mega-category .sub-title:hover{
    color: var(--color-red);
}

/* end header  */



/* custom lang select header */
.vodiapicker{
    display: none; 
  }
  
  #list-select{
    padding-left: 0px;
    
  }
  
  #list-select img, .btn-select img{
    width: 24px;
    
  }
  
  #list-select li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  
  #list-select li:hover{
   background-color: #F4F3F3;
  }
  
  #list-select li img{
      margin: 5px;
      width: 24px;
    }
    #list-select li i{
        display: none;
    }
  
  #list-select li span, .btn-select li span{
    margin-left: 2px;
  }
  
  /* item list */
  
  .wrap-select{
    display: none;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    position: absolute;
    top: 100%;
    background: #FFF;
  }
  
  .open{
    display: show !important;
  }
  
  .btn-select{
    width: 100%;
    max-width: 350px;
    min-width: 78px;
    height: 34px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    height: 35px;
    padding: 0 10px;
   
  }
  .btn-select li{
      list-style: none;
      float: left;
      padding-bottom: 0px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    .btn-select li *{
        min-width: max-content;
    }
    .btn-select li i{
        font-size: 18px;
        color: #AEAEAE;
        margin-left: 3px;
    }
  
  .btn-select:hover li{
    margin-left: 0px;
  }
  
  .btn-select:hover{
    background-color: #F4F3F3;
    border: 1px solid transparent;
    box-shadow: inset 0 0px 0px 1px #ccc;
    
    
  }
  
  .btn-select:focus{
     outline:none;
  }
  
  .lang-select{
    margin-left: 44px;
  }
  
/* custom lang select header */
/* footer */
.footer {
    background: #f2f4fd;
}
.footer *{
    color: #000;
}

.footer-nav {
    border-bottom: .2px solid #888282;
    min-height: 42px
}

@media(max-width: 1199px) {
    .footer-nav {
        display:none
    }
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    min-height: 42px
}
.footer-nav ul li{
    padding: 17px 0;
}

.footer-nav ul li:last-child .footer-nav-link {
    margin-right: 0
}

.footer-nav-link {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #515151;
    margin-right: 38px
}

.footer-middle {
    padding: 44px 0 50px
}

.footer-middle-flex {
    display: flex;
    flex-wrap: wrap
}

.footer-logo {
    width: 240px;
    margin-right: 59px
}
.footer-logo svg{
    margin-top: 54px;
}

@media(max-width: 991px) {
    .footer-logo {
        width:100%;
        margin-bottom: 30px
    }
}

.footer-logo img {
    max-width: 200px
}

@media(max-width: 575px) {
    .footer-logo img {
        max-width:116px
    }
}

.footer-right {
    width: calc(100% - 299px)
}

@media(max-width: 991px) {
    .footer-right {
        width:100%
    }
}

.footer-r-top-fl {
    display: flex;
    flex-wrap: wrap
}

.footer-r-left {
    width: 382px;
    margin-right: 18px
}

@media(max-width: 767px) {
    .footer-r-left {
        width:100%;
        margin: 0
    }
}

.footer-r-right {
    width: calc(100% - 400px)
}

@media(max-width: 767px) {
    .footer-r-right {
        width:100%;
        margin: 0
    }
}

.footer-r-item {
    margin-bottom: 30px
}

.footer-r-item .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #f47820;
    margin-bottom: 5px
}

.footer-r-item .text {
    font-size: 16px;
    line-height: 22px;
    color: #000
}

.footer-r-item .text span {
    font-weight: bold
}

.footer-r-middle-fl {
    display: flex;
    flex-wrap: wrap
}

@media(max-width: 767px) {
    .footer-m-item {
        margin-bottom:30px
    }
}

.footer-m-item .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 11px
}

.footer-m-item img {
    max-width: 110px
}

.footer-social ul {
    display: flex
}
.footer-social ul li{
    margin-right: 15px;
}
.footer-social ul li a{
    transition: all .2s;
}
.footer-social ul li a:hover{
    margin-top: -5px;
    transition: all .2s;
}

.footer-social-icon {
    display: flex;
    width: 33px;
    height: 33px;
    margin-right: 13px
}
.footer-social ul li a.footer-social-icon{
    margin-right: 0;
}

.footer-coppy-right {
    background: #1c2788;
    padding: 13px 0 16px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #fff
}
.footer-coppy-right .color-white{
    color: #FFF;
} 

/* end footer */

/* main  */
.home-focus-video {
    margin-bottom: 57px
}


.home-focus-video-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap
}

.home-fv-sub {
    width: 100%;
    height: 100%;
    position: relative
}

@media(max-width: 991px) {
    .home-fv-sub {
        width:100%;
        margin-left: 0;
        margin-top: 20px
    }
}

.home-fv-main {
    width: calc(100% - 330px);
    width: 100%
}

@media(max-width: 991px) {
    .home-fv-main {
        width:100%
    }
}

.home-sub-title {
    background: linear-gradient(0deg,#000c73 9.21%,#2a39b6 86.85%);
    border-radius: 3px 3px 0 0;
    padding: 9px 19px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff
}
.home-sub-title a{
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.home-sub-title .icon {
    display: inline-flex;
    margin-right: 12px
}

.home-fv-iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0
}

.home-fv-iframe .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.home-fv-content {
    background: #f2f4fd;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    padding: 16px 18px 28px
}
.home-fv-content .description{
    font-size: 14px;
    margin-bottom: 20px;
}
.home-fv-content .description .title-des{
    margin-bottom: 24px;
}
.home-fv-content .description a{
    color: #333;
    transition: unset;
}
.home-fv-content .description a:hover{
    color: #0078ee;
}
.home-fv-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px
}

.home-fv-info .name {
    border: 1px solid #f47820;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 7px 8px 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    text-align: center;
    color: #f47820;
    margin-right: 23px
}

@media(max-width: 991px) {
    .home-fv-info .name {
        line-height:21px;
        margin-bottom: 10px
    }
}

@media(max-width: 767px) {
    .home-fv-info .name {
        margin-right:0
    }
}

.home-fv-info .info {
    display: flex;
    align-items: center
}

@media(max-width: 767px) {
    .home-fv-info .info {
        width:100%;
        margin-bottom: 10px
    }
}

.home-fv-info .other {
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    margin-right: 8px
}

.home-fv-info .time {
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    display: flex;
    align-items: center
}

.home-fv-info .time .icon {
    margin-right: 5px
}

.home-fv-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #000;
    margin-bottom: 13px
}

.home-fv-share {
    margin-bottom: 13px
}

.home-fv-list-video {
    overflow-x: auto;
    scrollbar-color: #515151;
    scrollbar-width: thin;
    margin-top: 15px;
    background: #f2f4fd;
    box-shadow: 0 2px 4px rgba(0,0,0,.15)
}

@media(max-width: 991px) {
    .home-fv-list-video {
        display:none
    }
}

.home-focus-video .choose-bottom{
    margin-top: 30px;
}
.home-focus-video .choose-bottom .home-fv-scroll{
    position: relative;
    display: flex;
    overflow-x: scroll;
}
.home-focus-video .choose-bottom .home-fv-scroll::-webkit-scrollbar {
    width: 2px;
    height: 5px
}

.home-focus-video .choose-bottom .home-fv-scroll::-webkit-scrollbar-track {
    background: #515151
}

.home-focus-video .choose-bottom .home-fv-scroll::-webkit-scrollbar-thumb {
    background: #f47820
}
.home-focus-video .choose-bottom .home-fv-scroll .home-fv-item{
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
}
.home-fv-list-video::-webkit-scrollbar {
    width: 2px;
    height: 5px
}

.home-fv-list-video::-webkit-scrollbar-track {
    background: #515151
}

.home-fv-list-video::-webkit-scrollbar-thumb {
    background: #f47820
}

.home-fv-list-video .home-fv-lv-scroll {
    display: flex;
    padding-top: 0
}

.home-fv-list-video .home-fv-lv-scroll .home-fv-item {
    min-width: 280px
}

.home-fv-list-video .home-fv-lv-scroll .home-fv-item-layout {
    border-bottom: 0;
    padding: 15px 0;
    display: flex
}

.home-fv-comment {
    background: #fff;
    border-radius: 3px;
    padding: 12px 15px 13px;
    display: flex;
    align-items: center
}

@media(max-width: 575px) {
    .home-fv-comment {
        display:block
    }
}

.home-fv-comment .submit {
    height: 38px;
    width: 55px;
    background: #fff;
    border: 1px solid #f47820;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 11px;
    text-align: center;
    color: #f47820
}

@media(max-width: 575px) {
    .home-fv-comment .submit {
        width:100%
    }
}

.home-fv-comment .btn {
    flex: 1;
    width: 100%;
    border: .2px solid #888282;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    padding: 0 15px;
    margin: 0 15px
}

@media(max-width: 575px) {
    .home-fv-comment .btn {
        margin:10px 0
    }
}

.home-fv-comment .text {
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    color: #1c2788;
    text-transform: uppercase
}

.home-fv-list {
    height: calc(100% - 38px);
    overflow: hidden;
    background: #f2f4fd;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    position: relative;
    overflow-y: auto;
    scrollbar-color: #515151;
    scrollbar-width: thin
}

@media(max-width: 991px) {
    .home-fv-list {
        overflow-x:auto;
        overflow-y: hidden;
        height: auto;
    }

    .home-fv-list::-webkit-scrollbar {
        height: 2px
    }
}

.home-fv-list::-webkit-scrollbar {
    width: 2px
}

.home-fv-list::-webkit-scrollbar-track {
    background: #515151
}

.home-fv-list::-webkit-scrollbar-thumb {
    background: #f47820
}

.home-fv-scroll {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 4px
}

@media(max-width: 991px) {
    .home-fv-scroll {
        position:inherit;
        display: flex;
        padding-top: 0
    }
    .home-fv-scroll .home-fv-item{
        flex: 0 0 50%;
        max-width: 50%;
        min-width: auto;
    }
}

.home-fv-scroll .btn-viewmore {
    padding: 25px 0 30px
}

@media(max-width: 991px) {
    .home-fv-scroll .btn-viewmore {
        display:none
    }
}

.home-fv-scroll .viewmore {
    width: calc(100% - 24px);
    height: 27px;
    background: #f47820;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    margin-left: 12px
}

.home-fv-item {
    padding: 0 12px;
    border-left: 3px solid transparent
}

@media(max-width: 991px) {
    .list-responsibility-or{
        margin-top: 30px;
    }
    .home-fv-item {
        border-left:none !important;
        width: 100%;
        box-sizing: content-box;
        min-width: 100%
    }
}

.home-fv-item.active,
.home-focus-video .choose-bottom .home-fv-item:hover {
    background: #888282;
    border-left-color: #223f83
}
.home-focus-video .choose-bottom .home-fv-item .home-fv-item-layout{
    border: none;
}
.home-focus-video .choose-bottom .home-fv-item.active .home-fv-item-layout .content .title,
.home-focus-video .choose-bottom .home-fv-item:hover .home-fv-item-layout .content .title,
.home-focus-video .choose-bottom .home-fv-item.active .home-fv-item-layout .content .time,
.home-focus-video .choose-bottom .home-fv-item:hover .home-fv-item-layout .content .time {
    color: #fff
}
.home-focus-video .choose-bottom .home-fv-item.active .home-fv-item-layout .content .time svg,.home-focus-video .choose-bottom .home-fv-item.active .home-fv-item-layout .content .time path,
.home-focus-video .choose-bottom .home-fv-item:hover .home-fv-item-layout .content .time svg,.home-focus-video .choose-bottom .home-fv-item:hover .home-fv-item-layout .content .time path{
    fill: #FFF;
}
.home-fv-item.active .home-fv-item-layout .content .title,
.home-fv-item:hover .home-fv-item-layout .content .title {
    color: #f47820
}

.home-fv-item.active .home-fv-item-layout .content .time,
.home-fv-item:hover .home-fv-item-layout .content .time {
    color: #f47820
}

.home-fv-item.active .home-fv-item-layout .content .time svg,.home-fv-item.active .home-fv-item-layout .content .time path,
.home-fv-item:hover .home-fv-item-layout .content .time svg,.home-fv-item:hover .home-fv-item-layout .content .time path {
    fill: #f47820
}

.home-fv-item-layout {
    border-bottom: .2px solid #888282;
    padding: 15px 0;
    display: flex;
}

@media(max-width: 991px) {
    .home-fv-item-layout {
        border-bottom:none !important
    }
}

.home-fv-item-layout .image {
    border-radius: 3px;
    width: 88px;
    height: 76px;
    position: relative;
    margin-right: 10px;
    overflow: hidden
}

.home-fv-item-layout .image:before {
    background: #000;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    content: ""
}

.home-fv-item-layout .image .icon {
    position: absolute;
    bottom: 6px;
    left: 6px;
    display: flex
}

.home-fv-item-layout .image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.home-fv-item-layout .content {
    width: calc(100% - 98px)
}

.home-fv-item-layout .content .title {
    font-size: 15px;
    line-height: 1.2;
    color: #000;
    display: block;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}
.home-fv-item-layout:hover .content .title {
    color: var(--color-red);
}

.home-fv-item-layout .content .time {
    font-size: 14px;
    line-height: 11px;
    color: #515151;
    min-width: max-content;
}

.home-fv-item-layout .content .time *{
    line-height: 1;
}
span.numbview {
    background: #4765ab;
    width: 80px;
    height: 22px;
    border-radius: 3px;
    color: #fff;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    margin-right: 10px
}
span.numbview .text{
    color: #FFF;
    font-size: 15px;
}
/*  */
.layout-title {
    /* padding-left: 18px; */
    margin-bottom: 34px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #223f83;
    position: relative
}
.layout-title a{
    color: #223f83;
    font-weight: bold;
}
.layout-title a:hover{
    color: var(--color-red)!important;
}
.layout-title.size-20{
    font-size: 20px;
}
@media(max-width: 575px) {
    .layout-title {
        font-size:20px;
        line-height: 24px;
        padding-left: 0;
    }
}

.layout-title.white {
    color: #fff
}

.layout-title .title-item a{
}
.layout-title a:not(.view-all):before {
    content: "";
    width: 5px;
    height: 30px;
    background: #f47820;
    position: relative;
    left: 0;
    top: 7px;
    display: inline-block;
    margin-right: 18px;
}

#an-sinh{
    padding: 30px 0 28px;
    background: url(../images/image-16.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#an-sinh .layout-title a{
    color: #FFF;
}
/* item slider */
.home-csas-item{
    padding: 0 1px 1px;
}
.home-csas-item .image {
    position: relative;
    display: block;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.home-csas-item .image:before {
    background: #000;
    opacity: .4;
    z-index: 2;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%
}

.home-csas-item .image .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    transform: translate(-50%,-50%);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden
}

.home-csas-item .image .icon:before {
    background: #fff;
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    opacity: .5
}

.home-csas-item .image .icon:after {
    content: "";
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 25px solid #fff;
    border-bottom: 15px solid transparent;
    top: 20px;
    left: 22px;
    z-index: 10
}

.home-csas-item .content{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.home-csas-item .content .note {
    background: #a0a0a0;
    padding: 5px 10px 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
    display: block
}

.home-csas-item .content .info {
    padding: 7px 10px;
    padding-bottom: 12px
}

.home-csas-item .content .info .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
    margin-bottom: 9px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.home-csas-item .content .info .title:hover{
    color: var(--color-red);
}
.home-csas-item .content .info .des {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.home-csas-item .content .info .des .author {
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    margin-right: 8px
}

.home-csas-item .content .info .des .time {
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    display: flex;
    align-items: center
}

.home-csas-item .content .info .des .time .icon {
    margin-right: 4px
}

.home-csas-item .content .info .des .viewmore {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 14px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #f47820
}

.home-csas-item .content .info .des .viewmore .icon {
    margin-left: 10px;
    display: flex
}

.home-csas-item .content .info .des .viewmore:hover,
.box-content-category-main .view-detail:hover{
    color: var(--color-bg-main);
}
.box-content-category-main .view-detail:hover{
    border-color: var(--color-bg-main);
}
.box-content-category-main .view-detail:hover svg path, 
.home-csas-item .content .info .des .viewmore:hover svg path{
    fill: var(--color-bg-main);
}
.home-csas-center {
    text-align: center;
    margin-top: 28px
}

.home-csas-center .viewmore-all {
    background: #f47820;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 3px;
    width: 242px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}
.home-csas-center .viewmore-all:hover{
    background-color: var(--color-bg-main);
}

@media(max-width: 575px) {
    .home-csas-center .viewmore-all {
        width:100%
    }
}
.slider-top-3{
    position: relative;
}
.owl-carousel .owl-nav [class*=owl-]{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    background-color: #DDDDDD!important;
    box-shadow: 2px 4px 7px #b3acac!important;
    z-index: 2;
}
.owl-carousel .owl-nav .owl-prev{
    left: -41px;
}
.owl-carousel .owl-nav .owl-next{
    right: -41px;
}
.owl-carousel .owl-nav [class*=owl-] i{
    font-size: 18px;
    line-height: 1;
    margin-bottom: -3px;

}
.owl-carousel .owl-nav [class*=owl-]:hover{
    background-color: var(--color-red)!important;
}
.owl-carousel .owl-nav [class*=owl-]:hover i{
    color: #FFF;
}
/* responsibility */
#responsibility{
    background: #F2F4FD;
    padding: 36px 0 27px;
}
#responsibility{}
.slide-ads{
    position: relative;
}
.slide-ads.owl-carousel.owl-theme .owl-dots{
    margin: 0;
    position: absolute;
    right: 5px;
    bottom: 1px;
    line-height: 1;
}
.slide-ads.owl-theme .owl-dots .owl-dot span{
    margin: 5px 4px;
    width: 5px;
    height: 5px;
}
.slide-ads.owl-theme .owl-dots .owl-dot.active span{
    background: var(--color-red);
}
.list-responsibility-or{
    overflow: unset;
    box-shadow: unset;
}
.list-responsibility-or .home-fv-item:first-child .home-fv-item-layout{
    padding-top: 6px;
}
.list-responsibility-or .home-fv-item .home-fv-item-layout{
    padding-top: 19px;
    padding-bottom: 19px;
}
.list-responsibility-or .home-fv-item:last-child .home-fv-item-layout{
    border-bottom: 0;
}

.home-bn-sub {
    width: 100%;
    margin-top: 20px
}

@media(max-width: 991px) {
    .home-bn-sub {
        display:none
    }
}



@media(max-width: 991px) {
    .home-bn-main {
        width:100%
    }
}

.home-bn-sub-list {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    padding-bottom: 15px
}

.home-bn-sub-list .viewmore-all {
    background: #f47820;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: calc(100% - 18px);
    margin-left: 9px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}
.home-bn-sub-list .viewmore-all:hover{
    background-color: var(--color-bg-main);
}
.home-bns-item {
    border-bottom: .2px solid #888282;
    padding: 9px 12px 9px;
    display: flex
}

.home-bns-item .icon {
    margin-right: 8px;
    width: 17px
}

.home-bns-item .content {
    width: calc(100% - 25px)
}

.home-bns-item .content .title {
    display: flex;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
    margin-bottom: 4px
}
.home-bns-item .content .title:hover{
    color: var(--color-red);
}

.home-bns-item .content .viewmore {
    font-size: 14px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #f47820
}
.home-bns-item .content .viewmore:hover{
    color: var(--color-bg-main);
}
.home-box-news-content{
    margin-top: 34px;
}
/*  */
.box-category-middle {
    width: 100%
}

.box-category-middle .box-category-link-with-avatar {
    position: relative
}

.box-category-middle .box-category-link-with-avatar:before {
    background: #000;
    opacity: .4;
    z-index: 2;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%
}
.box-category-middle .box-category-link-with-avatar {
    display: block;
    margin-bottom: 24px;
    position: relative;
}

.box-category-middle .box-category-link-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    display: block;
    margin-bottom: 12px;
    padding: 0 15px
}
.box-category-middle .box-category-link-title:hover{
    color: var(--color-red);
}

.box-category-middle .info {
    padding: 0 15px;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    display: flex;
    align-items: center
}

.box-category-middle .info .author {
    margin-right: 12px
}

.box-category-middle .info .icon {
    margin-right: 4px
}

.box-category-middle .box-category-list-related {
    border-top: .2px solid #888282
}

.box-category-middle .box-category-list-related .box-category-link-title {
    display: block;
    padding: 10px 0;
    margin-bottom: 0;
    border-bottom: .2px solid #888282;
    
    display: flex
}

.box-category-middle .box-category-list-related .box-category-link-title .icon {
    margin-right: 14px
}
.box-category-middle .box-category-list-related .box-category-link-title [class*="line-"]{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #515151;
}
.box-category-middle .box-category-list-related .box-category-link-title:hover [class*="line-"]{
    color: var(--color-red);
}

.box-category-middle .box-category-list-related .viewmore {
    width: 170px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-top: 29px;
    background: #f47820;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 3px;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}
.box-category-middle .box-category-list-related .viewmore:hover{
    background-color: var(--color-bg-main);
}

@media(max-width: 575px) {
    .box-category-middle .box-category-list-related .viewmore {
        width:100%;
        margin-top: 15px
    }
}
.box-category-middle .box-category-link-with-avatar .icon {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 65px;
    height: 65px;
    transform: translate(50%,-50%);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden
}

.box-category-middle .box-category-link-with-avatar .icon:before {
    background: #fff;
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    opacity: .5
}

.box-category-middle .box-category-link-with-avatar .icon:after {
    content: "";
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 25px solid #fff;
    border-bottom: 15px solid transparent;
    top: 20px;
    left: 22px;
    z-index: 10
}


/*  */
#responsibility.cuoc-song-tuoi-dep{
    background-color: #FFFFFF;
}
.cuoc-song-tuoi-dep{}
.box-ads-right{
    margin-top: 0;
}
@media(min-width: 991px) {
    .ads-margin-left{
        margin-left: -30px;
        flex: 0 0 330px;
        max-width: 330px;
    }
    .box-content-right-ads{
        padding-right: 30px;
    }
}

.home-ncna {
    padding: 40px 0 30px;
    background: url(../images/image-7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-ncna-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.home-ncna-list {
    width: 100%;
    position: relative;
}

@media(max-width: 991px) {
    .home-ncna-list {
        margin-top: 30px;
    }
}

.home-ncna-main {
    width: 100%
}

@media(max-width: 991px) {
    .home-ncna-main {
        width:100%
    }
}

.home-ncna-main .frame {
    position: relative;
    margin-bottom: 21px;
    height: 0;
    padding-bottom: 65.25%
}

.home-ncna-main .frame .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.home-ncna-main .frame .video:before {
    background: #000;
    opacity: .4;
    z-index: 2;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%
}

.home-ncna-main .frame .video img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.home-ncna-main .frame .video .icon {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 90px;
    height: 90px;
    transform: translate(50%,-50%);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden
}

@media(max-width: 767px) {
    .home-ncna-main .frame .video .icon {
        width:65px;
        height: 65px
    }
}

.home-ncna-main .frame .video .icon:before {
    background: #fff;
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    opacity: .5
}

@media(max-width: 767px) {
    .home-ncna-main .frame .video .icon:before {
        width:65px;
        height: 65px
    }
}

.home-ncna-main .frame .video .icon:after {
    content: "";
    position: absolute;
    border-top: 24px solid transparent;
    border-left: 35px solid #fff;
    border-bottom: 22px solid transparent;
    top: 22px;
    left: 32px;
    z-index: 10
}

@media(max-width: 767px) {
    .home-ncna-main .frame .video .icon:after {
        border-top:15px solid transparent;
        border-left: 25px solid #fff;
        border-bottom: 15px solid transparent;
        top: 20px;
        left: 22px
    }
}

.home-ncna-main .content {
    color: #fff
}

.home-ncna-main .content .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #f47820;
    display: block;
    margin-bottom: 10px
}
.home-ncna-main .content .title:hover{
    color: #FFF;
}

.home-ncna-main .content .sapo {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 18px
}

.home-ncna-main .content .info {
    display: flex;
    font-size: 16px;
    line-height: 11px;
    color: #fff;
    align-items: center;
    margin-bottom: 20px
}

.home-ncna-main .content .info .author {
    margin-right: 12px
}

.home-ncna-main .content .info .time .icon {
    margin-right: 4px
}

.home-ncna-main .content .info .time .icon svg {
    fill: #fff
}

.home-ncna-main .related {
    border-top: .2px solid #fff
}

.home-ncna-main .related .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.home-ncna-main .related .list .box-category-item {
    max-width: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}

@media(max-width: 1199px) {
    .home-ncna-main .related .list .box-category-item {
        max-width:100%
    }
}

.home-ncna-main .related .list .box-category-item .box-category-link-with-avatar {
    border-radius: 3px;
    width: 110px;
    height: 76px;
    position: relative;
    margin-right: 10px;
    overflow: hidden
}

.home-ncna-main .related .list .box-category-item .box-category-link-with-avatar .box-category-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.home-ncna-main .related .list .box-category-item .box-category-link-with-avatar:before {
    background: #000;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    content: ""
}

.home-ncna-main .related .list .box-category-item .box-category-link-with-avatar .icon {
    position: absolute;
    bottom: 6px;
    left: 6px;
    display: flex
}

.home-ncna-main .related .list .box-category-item .box-category-content {
    width: calc(100% - 120px)
}

.home-ncna-main .related .list .box-category-item .box-category-content .box-category-link-title {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    display: block;
    margin-bottom: 15px
}
.home-ncna-main .related .list .box-category-item .box-category-content .box-category-link-title:hover{
    color: var(--color-red);
}

.home-ncna-main .related .list .box-category-item .box-category-content .time {
    font-size: 14px;
    line-height: 11px;
    color: #fff
}

.home-ncna-main .related .list .box-category-item .box-category-content .time .icon svg path {
    fill: #fff
}

.home-ncna-scroll {
    height: 100%;
    overflow: hidden;
    width: 100%
}

.home-ncna-scroll .title-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: .2px solid #fff
}

.home-ncna-scroll .title-list .text {
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    text-transform: uppercase
}

.home-ncna-scroll .title-list .swiper-des {
    color: #fff;
    display: flex
}

.home-ncna-scroll .title-list .swiper-des .count {
    margin-right: 10px;
    position: relative;
}
.home-ncna-scroll .title-list .swiper-des .count .swiper-pagination{
    position: relative;
    left: unset;
    bottom: unset;
    top: unset;
    
}
.home-ncna-scroll .title-list .swiper-des .count .swiper-pagination *{
    color: #FFF;
}

.home-ncna-scroll .title-list .swiper-des .arow {
    display: flex;
    position: relative;
}
.home-ncna-scroll .title-list .swiper-des .arow [class*="swiper-button-"]{
    position: relative;
    left: unset;
    bottom: unset;
    top: unset;
    right: unset;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}
.home-ncna-scroll .title-list .swiper-des .arow [class*="swiper-button-"]::after{
    display: none;
}

.home-ncna-scroll .title-list .swiper-des .arow>div {
    background: #1c2788;
    border: .5px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 2px;
    width: 29px;
    height: 17px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center
}

.home-ncna-scroll .title-list .swiper-des .arow>div:hover {
    border-color: #f47820
}

.home-ncna-scroll .title-list .swiper-des .arow>div:hover svg {
    fill: #f47820
}

.home-ncna-scroll .title-list .swiper-des .arow>div svg {
    fill: #fff
}
.viewall {
    width: 170px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-top: 29px;
    background: #f47820;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 3px;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.viewall:hover{
    background-color: var(--color-bg-main);
    color: #FFFFFF!important;
}
.home-ncna-layout-list{
    position: relative;
    height: 675px
}
.swiper {
    width: 100%;
    height: 100%;
    border-bottom: .2px solid #888282;
  }

  .swiper-slide {
    margin-bottom: 0!important;
  }


.home-ncna-layout-list .item {
    padding: 12px 0;
    display: flex;
    border-bottom: .2px solid #fff
}
.home-ncna-layout-list .item:last-child{
    border-bottom: none;
}

.home-ncna-layout-list .item .time {
    display: flex;
    padding-right: 10px;
    border-right: .2px solid #fff;
    margin-right: 14px;
    font-size: 15px;
    line-height: 23px;
    color: #fff
}

.home-ncna-layout-list .item .time .icon {
    margin-right: 5px;
    display: flex;
    margin-top: 3px
}

.home-ncna-layout-list .item .content {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    line-height: calc(23/15);
    color: #fff
}

.home-ncna-layout-list .item .content .icon {
    display: flex;
    margin-top: 5px;
    margin-right: 10px
}

.home-ncna-layout-list .item .content .text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    line-height: 23px;
    color: #fff
}
.home-ncna-layout-list .item:hover .content .text{
    color: var(--color-red);
}
.we-talk{
    padding-top: 44px;
    padding-bottom: 33px;
    background-color: #F2F4FD;
}
.we-talk .item{
    padding: 0 1px 5px 1px;
}
.item-we-talk{
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.item-we-talk .content {
    background: transparent;
    box-shadow: none;
}
.item-we-talk .content .note{
    background: #ECECEC;
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--color-red);
    height: 34px;
    margin-top: 6px;
    line-height: 1;
    padding-top: 12px;
    font-size: 15px;
}
.item-we-talk .content .info {
    padding: 12px 0 10px 0;
}
.item-we-talk .content .info .title{
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 6px;
}
.item-we-talk .content .info .des .viewmore{
    margin-top: 10px;
}
.item-we-talk .content .info .des .viewmore span:not(.icon){
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    line-height: calc(18/14);
    color: var(--color-red);
    color: var(--color-red);
    border-bottom: 2px solid var(--color-red);
}
.item-we-talk .content .info .des .viewmore:hover span{
 color: var(--color-bg-main);
 border-color: var(--color-bg-main);
}
.item-we-talk .image .icon{
    width: 45px;
    height: 45px;
}
.item-we-talk .image .icon::before{
    width: 100%;
    height: 100%;
}
.item-we-talk .image .icon::after{
    top: 13px;
    left: 16px;
    border-top: 11px solid transparent;
    border-left: 18px solid #fff;
    border-bottom: 11px solid transparent;
}

.title-main{
    font-size: 24px;
    line-height: 1.125;
    font-weight: 700;
    color: #223F83;
    text-align: center;
    text-transform: uppercase;
}

#album-image{
    padding: 50px 0 40px 0;
    overflow: hidden;
    position: relative;
}
#album-image .title-main{
    margin-bottom: 37px;
}
#album-image .slider-image{
}
#album-image .slider-image .box-image{
    position: relative;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
#album-image .slider-image .box-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28 39 136 / 65%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
#album-image .slider-image .box-image>img{
    height: 100%;
}
#album-image .slider-image .zoom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
#album-image .slider-image .zoom img{
    width: auto;
    height: auto;
    margin-bottom: 25px;
}
#album-image .slider-image .zoom .text{
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    line-height: 1.25;
    padding: 0 29px 17px 29px;
}
#album-image .slider-image .box-image:hover::before,
#album-image .slider-image .box-image:hover .zoom{
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

#album-image .owl-theme .owl-dots{margin-top: 30px;}
#album-image .owl-theme .owl-dots .owl-dot span{
    margin: 0;
    width: 12px;
    height: 12px;
    position: relative;
    background-color: #888282;
    transition: all .3s;
}
#album-image .owl-theme .owl-dots .owl-dot{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid transparent;
    margin: 0 3.5px;
    transition: all .3s;
}
#album-image .owl-theme .owl-dots .owl-dot.active,
#album-image .owl-theme .owl-dots .owl-dot:hover{
    border-color: #888282;
}
#album-image .owl-theme .owl-dots .owl-dot.active span,
#album-image .owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--color-red);
}
#album-image .owl-theme .owl-dots .owl-dot:hover span{}
#album-image .owl-theme .owl-dots .owl-dot span::before{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid transparent;
    border-radius: 100%;
}
#album-image .owl-theme .owl-dots .owl-dot.active span::before,
#album-image .owl-theme .owl-dots .owl-dot:hover span::before{
    border-color: #FFF;
}
#album-image .owl-theme .owl-nav{
    margin: 0;
}
#album-image .owl-carousel .owl-nav .owl-prev{
    left: 63px;
}
#album-image .owl-carousel .owl-nav .owl-next{
    right: 63px;
}
#album-image .wrap-or-slider{
    position: relative;
}
#album-image .owl-carousel{
    position: unset;
    height: max-content;
}
#album-image .owl-carousel .owl-stage-outer{
    overflow: unset;
}
#album-image .owl-carousel::before,
#album-image .owl-carousel::after{
    content: "";
    position: absolute;
    top: 0;
    width: 277px;
    height: calc(100% - 53px);
    display: block;
    z-index: 1;
}
#album-image .owl-carousel::before{
    left: 0;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.692708) 50.92%, rgba(255, 255, 255, 0) 95.85%);
}
#album-image .owl-carousel::after{
    right: 0;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.692708) 50.92%, rgba(255, 255, 255, 0) 95.85%);
    transform: rotate(180deg);
}

.layout-hotline {
    border: 1px solid #f47820;
    box-sizing: border-box;
    border-radius: 20px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    padding: 0 6px
}

.layout-hotline .icon {
    margin-right: 3px;
    min-width: max-content;
}

.layout-hotline .text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #515151;
    min-width: max-content;
    padding-top: 2px;
}

.layout-hotline .text span {
    color: #f47820;
    font-weight: 700;
}
.tag-hot{
    padding: 13px 0 20px;
}
.tag-hot>.container{
    display: flex;
    justify-content: space-between;
}
.tag-hot .box-left-tag{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.tag-hot .box-left-tag>img{
    margin-top: 2px;
    width: max-content!important;
}
.tag-hot .list-tag{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-left: 10px;
    width: calc(100% - 24px);
    overflow-x: scroll;
}
.tag-hot .list-tag::-webkit-scrollbar {
    width: 2px;
    height: 5px
}
.tag-hot .list-tag a{
    color: #515151;
    border: 0.2px solid #888282;
    border-radius: 15px;
    margin-right: 15px;
    line-height: 1;
    min-height: 23px;
    padding: 0 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 2px 15px 2px 0;
    min-width: max-content;
}
.tag-hot .list-tag a:hover{
    border-color: var(--color-red);
    color: var(--color-red);
}

/*  */
.breadcrumb {
    background-color: transparent;
    padding: 19px 0;
    margin-bottom: 0;
}

.breadcrumb.black a {
    color: #888282
}

.breadcrumb ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.breadcrumb ul li:last-child a {
    margin-right: 0
}

.breadcrumb ul li:last-child a:after {
    display: none
}

.breadcrumb ul li a {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    margin-right: 5px;
    min-width: max-content;
}

.breadcrumb ul li a.active {
    color: #f47820
}

.breadcrumb ul li a:after {
    content: "/";
    margin-left: 5px
}

.focus-category-video-top{
    background-image: url(../images/image-11.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 95px;
    margin-bottom: 0;
}
.focus-category-video-top .wrap-category-top{
    background: #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.focus-category-video-top .wrap-category-top .home-fv-list,
.focus-category-video-top .wrap-category-top .home-fv-content{
    background-color: transparent;
}
.focus-category-video-top .wrap-category-top ._ohe.lfloat ._50f7,
.focus-category-video-top .wrap-category-top .home-fv-title,
.focus-category-video-top .wrap-category-top .home-fv-info .other,
.focus-category-video-top .wrap-category-top .home-fv-item-layout .content .title,
.focus-category-video-top .wrap-category-top .home-fv-item-layout .content .time,
.focus-category-video-top .wrap-category-top .home-fv-info .time .text{
    color: #FFFFFF;
}
.focus-category-video-top .wrap-category-top .home-fv-item-layout .content .time svg path{
    fill: #FFF;
}
.focus-category-video-top .wrap-category-top .home-fv-item.active .home-fv-item-layout .content .time svg path,
.focus-category-video-top .wrap-category-top .home-fv-item:hover .home-fv-item-layout .content .time svg path{
    fill: #000;
}
.focus-category-video-top .wrap-category-top .home-fv-item.active,
.focus-category-video-top .wrap-category-top .home-fv-item:hover{
    background-color: #FFFFFF;
    border-left-color: var(--color-red)
}
.focus-category-video-top .wrap-category-top .home-fv-item:hover .content .title,
.focus-category-video-top .wrap-category-top .home-fv-item:hover .content .time,
.focus-category-video-top .wrap-category-top .home-fv-item.active .content .title,
.focus-category-video-top .wrap-category-top .home-fv-item.active .content .time{
    color: #000;
}
.focus-category-video-top .wrap-category-top .home-fv-item .home-fv-item-layout{
    margin-bottom: -1px;
}
.focus-category-video-top .wrap-category-top .home-fv-item.active .home-fv-item-layout,
.focus-category-video-top .wrap-category-top .home-fv-item:hover .home-fv-item-layout{
    border-color: transparent;
}
.focus-category-video-top .wrap-category-top{}

.focus-category-video-top .wrap-category-top .home-fv-list::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 145px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
transform: rotate(180deg);
z-index: 1;
}

.list-video-cate {
    margin-bottom: 32px
}

@media(max-width: 1199px) {
    .list-video-cate {
        display:none
    }
}

.list-video-cate ul {
    background: #f47820;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    display: flex;
    padding: 10px 17px;
    justify-content: flex-start
}

.list-video-cate ul .name-cate {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-right: 25px
}

.list-video-cate ul .name {
    font-size: 16px;
    line-height: 18px;
    color: #000;
    margin-right: 25px
}

.list-video-cate ul .name:hover {
    color: #fff
}

.list-video-cate ul .dropdown {
    position: relative;
    justify-content: flex-end;
    flex: 1;
    display: flex
}

.list-video-cate ul .dropdown.open .content-drop {
    display: block
}

.list-video-cate ul .dropdown .icon {
    border: 1px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 3px;
    width: 35px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.list-video-cate ul .dropdown .content-drop {
    position: absolute;
    right: -18px;
    background: #f2f4fd;
    border: .2px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 0 0 3px 3px;
    top: 33px;
    width: 160px;
    padding: 14px;
    display: none;
    z-index: 10;
}

.list-video-cate ul .dropdown .content-drop:before {
    content: ' ';
    position: absolute;
    top: -6px;
    right: 26px;
    width: 10px;
    height: 10px;
    background: #f2f4fd;
    border-top: 1px solid #f2f4fd;
    border-left: 1px solid #f2f4fd;
    transform: -moz-rotate(45deg);
    transform: -webkit-rotate(45deg);
    transform: rotate(45deg)
}

.list-video-cate ul .dropdown .content-drop ul {
    background: transparent;
    box-shadow: none;
    display: block;
    padding: 0
}

.list-video-cate ul .dropdown .content-drop ul .dr-name {
    display: block;
    padding: 4px 0;
    font-size: 16px;
    line-height: 18px;
    color: #515151
}

.list-video-cate ul .dropdown .content-drop ul .dr-name:hover {
    color: #f47820
}

@media(min-width: 992px) {
    .focus-category-video-top .home-focus-video-flex .col-lg-9{
        padding-right: 17px;
    }
    .focus-category-video-top .home-focus-video-flex .col-lg-3,
    .box-ads-category-right{
        padding-left: 0;
    }
    .box-content-category-main{
        padding-right: 17px;
    }
}
.box-content-category-main .item-category{
    padding: 24px 12px 12px 16px;
    background: #F2F4FD;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
margin-bottom: 32px;
}
.box-content-category-main .item-category .layout-title{
    margin-bottom: 20px;
}
.box-content-category-main .layout-title a:not(.view-all){
    font-size: 20px;
}
.box-content-category-main .layout-title .title-item:hover a{
    color: var(--color-bg-main);
}
.box-content-category-main .layout-title{
    display: flex;
    align-items: center;
}
.box-content-category-main .layout-title .title-item{
    line-height: 1;
}
.box-content-category-main .view-all{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-red);
    border-bottom: 2px solid var(--color-red);
    margin-left: 24px;
    line-height: calc(18 / 15);
    margin-bottom: -3px;
}
.box-content-category-main .view-all:hover{
    color: var(--color-bg-main);
    border-color: var(--color-bg-main);
}
.box-content-category-main .view-detail{
    margin: 0 0 0;
    text-transform: unset;
    font-weight: 700;
}
.box-content-category-main .swiper-slide .home-fv-item-layout:first-child{
    padding-top: 0;
}
.box-content-category-main .swiper-slide .home-fv-item-layout:last-child{
    border-color: transparent;
}
.swiper-item-category{
    height: 413px;
}

.swiper-category-pagination{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 8px;
}
.swiper-category-pagination .swiper-pagination{
    position: unset;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
}
.swiper-category-pagination .swiper-pagination *{
    font-size: 15px;
    font-weight: 700;
    color: var(--color-text);
}
.swiper-category-pagination [class*="swiper-button-"]:after{
    display: none;
}

.swiper-category-pagination .arrow{
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.swiper-category-pagination [class*="swiper-button-"]{
    width: 29px;
    height: 17px;
    background: #FFFFFF;
    border: 0.5px solid #888282;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: unset;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    margin: 0 2px;
}
.swiper-category-pagination [class*="swiper-button-"] svg path{
    fill: #888282;
}
.swiper-category-pagination [class*="swiper-button-"]:hover{
    border-color: var(--color-red);
}
.swiper-category-pagination [class*="swiper-button-"]:hover svg path{
    fill: var(--color-red);
}


/* pagination  */
.paging {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 33px;
}

.paging a {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(205, 205, 205);
    transition: all .4s;
    margin: 0 5px;
    line-height: 1;
    padding-top: 1px;
    color: var(--color-text);
    font-size: 15px;
}
.paging a.dau,
.paging a.truoc,
.paging a.sau,
.paging a.cuoi{
    font-size: 0;
    position: relative;
}
.paging a.dau:before,
.paging a.truoc:before,
.paging a.sau:before,
.paging a.cuoi:before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 50%;
    display: block;
    font-size: 16px;
    transform: translateY(-50%);
    line-height: 1;
    margin-top: 1px;
}
.paging a.dau:before{
    content: "\f100";
}
.paging a.truoc:before{
    content: "\f104";
}
.paging a.sau:before{
    content: "\f105";
}
.paging a.cuoi:before{
    content: "\f101";
}

.paging i {
    margin-bottom: -4px;
}

.paging a:hover,
.paging a:hover i,
.paging a.hientai {
    background-color: var(--color-bg-main);
    color: #FFF!important;
    border-color: var(--color-bg-main)
}

.banner-ads-top{
    margin-bottom: 28px;
}

#category-or{
    padding: 50px 0;
}
#category-or .slider-category-or .item{
    padding-bottom: 4px;
}
#category-or .item-category-or{
    background: #F2F4FD;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
#category-or .item-category-or .box-category-middle .box-category-link-with-avatar{
    margin-bottom: 13px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
#category-or .layout-title{
    margin-bottom: 23px;
}
#category-or .item-category-or .home-sub-title{
    text-transform: uppercase;
}
#category-or .item-category-or .home-sub-title:hover{
    color: var(--color-red);
}
#category-or .item-category-or .box-content{
    padding: 13px 8px 20px;
}
#category-or .item-category-or .box-category-middle .box-category-link-title{
    font-size: 16px;
    line-height: calc( 20 / 16);
    margin-bottom: 9px;
}
#category-or .item-category-or .box-category-middle .info{
    margin-bottom: 0;
    padding-bottom: 22px;
    border-bottom: 0.2px solid #888282;
}
#category-or .item-category-or .box-category-middle .info .time{
    font-size: 14px;
}
#category-or .item-category-or .view-all{
    font-size: 15px;
    color: var(--color-red);
    border-bottom: 2px solid var(--color-red);
    line-height: calc(18 / 15);
    font-weight: 700;
    padding-top: 15px;
}
#category-or .item-category-or .view-all:hover{
    color: var(--color-bg-main);
    border-color: var(--color-bg-main);
}

.box-breadcrum .breadcrumb ul li a:not(.active){
    color: var(--color-text);
}
.box-breadcrum .breadcrumb ul li a:not(.active):hover{
    color: var(--color-red);
}
#list-category-post .layout-title{
    margin-bottom: 28px;
}

.list-category .box-item {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 18px;
    background: #f2f4fd;
    box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    border-radius: 3px;
    padding: 10px 9px
}

.list-category .box-item:nth-child(3n) {
    margin-right: 0
}

@media(max-width: 991px) {
    
    .list-category .box-item:nth-child(3n) {
        margin-right: 30px
    }

    .list-category .box-item:nth-child(2n) {
        margin-right: 0
    }
}

@media(max-width: 575px) {
    .list-category .box-item {
        width:100%;
        margin-right: 0
    }

    .list-category .box-item:nth-child(3n) {
        margin-right: 0
    }
}

.list-category .box-item:hover {
    background: #1c2788
}

.list-category .box-item:hover .content .title {
    color: #f47820
}

.list-category .box-item:hover .content .sapo {
    color: #fff
}

.list-category .box-item:hover .content .time {
    color: #fff
}

.list-category .box-item:hover .content .time .icon svg path {
    fill: #fff
}

.list-category .box-item .image {
    display: block;
    margin-bottom: 14px;
    overflow: hidden;
    border-radius: 4px;
}

.list-category .box-item .content .title {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    display: block;
    margin-bottom: 5px;
    min-height: 36px;
}

.list-category .box-item .content .sapo {
    font-size: 15px;
    line-height: calc(18 / 15);
    color: #000;
    margin-bottom: 11px;
    min-height: 36px;
}

.list-category .box-item .content .time {
    font-size: 14px;
    line-height: 11px;
    color: #515151;
    margin-bottom: 12px;
    display: flex;
    align-items: center
}

.list-category .box-item .content .time .icon {
    margin-right: 4px
}

.list-category .box-item .content .viewmore {
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #f47820;
    margin-bottom: 6px
}

#list-category-post .paging{
    padding-top: 20px;
    padding-bottom: 66px;
}

.content-main .title-main-page{
    font-size: 25px;
    line-height: calc( 28 / 25);
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 18px;
}
.content-main .detail-info {
    border-top: .2px solid #dedede;
    border-bottom: .2px solid #dedede;
    padding: 9px 0;
    margin-bottom: 19px
}

.content-main .detail-author-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.content-main .detail-category {
    padding: 7px 12px;
    background: #1c2788;
    border-radius: 3px;
    min-width: 126px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 25px
}

.content-main .detail-author-top-content {
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    margin-right: 8px
}
.content-main .detail-author-top-content a{
    color: var(--color-text);
}

.content-main .detail-time {
    display: flex;
    align-items: center
}

.content-main .detail-time .icon {
    display: flex;
    margin-right: 4px
}
.content-main .detail-time .icon svg{
    width: 15px;
    height: 15px;
}

.content-main .detail-sapo {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #4e4e4e;
    margin-bottom: 12px
}

.content-main .detail-content {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #262626
}

.content-main .detail-sapo {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #4e4e4e;
    margin-bottom: 12px;
    text-align: justify;
}
.content-main .content-detail{
    text-align: justify;
}
.content-main img{
    max-width: 100%;
}
.content-main .content-detail img{
    width: 100%;
    max-width: 100%;
}
.detail-img-lightbox{
    cursor: zoom-in;
    display: block;
    text-align: center;
}
.content-detail p{
    margin: 2% 0;
    text-align: justify;
}

.content-main .detail-like-fb {
    display: flex;
    align-items: center;
    min-width: max-content;
}

.content-main .detail-like-fb a {
    margin-left: 15px
}
.tag-detail-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.list-footer-post{
    padding-bottom: 34px;
}
.list-footer-post .layout-title{
    margin-bottom: 28px;
}
.contact-title {
    text-align: center;
    margin: 47px 0 26px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #888282;
}

.contact-form {
    background: url(../images/image-14.jpg);
    background-size: cover;
    padding: 168px 0
}

@media(max-width: 991px) {
    .contact-form {
        padding:100px 0
    }
}

@media(max-width: 767px) {
    .contact-form {
        padding:50px 0
    }
}

.contact-flex {
    display: flex;
    flex-wrap: wrap
}

.contact-info {
    width: 50%;
    padding: 39px 50px;
    background: #1c2788;
    border-radius: 5px;
    color: #fff
}

@media(max-width: 991px) {
    .contact-info {
        width:100%
    }
}

@media(max-width: 575px) {
    .contact-info {
        padding:15px 30px
    }
}

.contact-info .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #f47820;
    margin-left: 15px;
    margin-bottom: 10px;
}

.contact-info .row {
    display: flex;
    margin-bottom: 22px
}

.contact-info .row .icon {
    width: 35px
}

.contact-info .row .value {
    width: calc(100% - 35px)
}

.contact-info .row .value .text {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    word-break: break-word
}
.contact-info .row .value .text a{
    color: #FFF;
}
.contact-info .row .value .text a:hover{
    color: var(--color-red);
}

.contact-info .row .value .text span {
    font-weight: bold
}

.contact-info .row .value .label {
    font-size: 16px;
    line-height: 22px;
    color: #f47820
}

.contact-info .row .value .mt-20 {
    margin-top: 20px
}

.contact-map {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

@media(max-width: 991px) {
    .contact-map {
        width:100%;
        padding: 20px 0
    }
}

.contact-map .icon {
    display: block;
    margin-bottom: 10px
}

.contact-map .viewmap {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #fff
}
.contact-map .viewmap:hover{
    color: var(--color-red);
}
#search{
    padding: 39px 0 48px;
}
.list-search-form {
    margin-bottom: 21px;
    position: relative
}

.list-search-form input {
    border: 1px solid #c2c1c1;
    box-sizing: border-box;
    border-radius: 35px;
    height: 54px;
    width: 100%;
    padding: 0 50px 0 10px;
    text-align: left;
}

.list-search-form .submit {
    position: absolute;
    right: 15px;
    top: 11px
}
.list-search-form .submit:hover svg path{
    fill: var(--color-red);
}

.list-search-total {
    font-weight: normal;
    font-size: 25px;
    line-height: calc(29 / 25);
    color: #737373;
    margin-bottom: 25px
}

.list-search-total span {
    color: #000
}

/*  */
.list-search-result .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    flex-wrap: wrap
}

.list-search-result .item .image {
    width: 300px;
    height: 172px;
    margin-right: 21px
}

.list-search-result .item .image.video {
    position: relative
}

.list-search-result .item .image.video:before {
    background: #000;
    opacity: .4;
    z-index: 2;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%
}

.list-search-result .item .image.video .icon {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 45px;
    height: 45px;
    transform: translate(50%,-50%);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden
}

.list-search-result .item .image.video .icon:before {
    background: #fff;
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    opacity: .5
}

.list-search-result .item .image.video .icon:after {
    content: "";
    position: absolute;
    border-top: 12px solid transparent;
    border-left: 18px solid #fff;
    border-bottom: 12px solid transparent;
    top: 12px;
    left: 16px;
    z-index: 10
}

@media(max-width: 767px) {
    .list-search-result .item .image {
        width:100%;
        height: auto;
        margin-bottom: 15px;
        margin-right: 0
    }
}

.list-search-result .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.list-search-result .item .content {
    width: calc(100% - 321px)
}

@media(max-width: 767px) {
    .list-search-result .item .content {
        width:100%
    }
}

.list-search-result .item .content .title {
    font-weight: bold;
    font-size: 22px;
    line-height: calc(30 / 22);
    color: #404040;
    margin-bottom: 10px;
    display: block
}
.list-search-result .item .content .title:hover{
    color: var(--color-red);
}

.list-search-result .item .content .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px
}

.list-search-result .item .content .info .cate {
    background: #1c2788;
    border-radius: 3px;
    padding: 7px 9px;
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-right: 42px
}

@media(max-width: 991px) {
    .list-search-result .item .content .info .cate {
        margin-bottom:10px
    }
}

.list-search-result .item .content .info .author {
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    margin-right: 13px
}

.list-search-result .item .content .info .time {
    font-size: 16px;
    line-height: 11px;
    color: #515151;
    display: flex;
    align-items: center
}

.list-search-result .item .content .info .time .icon {
    margin-right: 4px
}

.list-search-result .item .content .sapo {
    font-size: 16px;
    line-height: 22px;
    color: #4e4e4e
}

.list-search-main .viewmore {
    margin: 10px 0 20px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #666;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 7.5px 28px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
}

@media(max-width: 767px) {
    .list-search-main .viewmore {
        margin:30px 0;
        margin-top: 0
    }
}

.list-search-main .viewmore .icon {
    margin-left: 5px;
    line-height: 1;
    margin-top: -3px;
    height: max-content;
}
.list-search-main .viewmore:hover{
    border-color: var(--color-red);
    color: var(--color-red);
}
.list-search-main .viewmore:hover svg path{
    fill: var(--color-red);
}


.scroll-top {
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: var(--color-blue);
    z-index: 18;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: var(--color-red);
}

.scroll-top i {
    font-size: 18px;
    color: #FFF;
    transition: all .4s;
}

.scroll-top:hover {
    background: var(--color-main);
}

.slide-ads .box-image a{
    height: 100%;
}

.box-audio-post{
    margin: 18px 0;
    display: flex;
    align-items: center;
}
.box-audio-post .btn-audio{
    width: 158px;
    height: 33px;
    border: 1px solid #00000098;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    transition: all .5s;
    align-items: center;
    padding: 11px 14px 9px;
    font-size: 12px!important;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.box-audio-post .btn-audio svg{
    margin-right: 5px;
}
.box-audio-post .btn-audio:hover{
    background-color: var(--color-bg-main);
    color: #FFF;
}
.box-audio-post .btn-audio:hover svg path{
    fill: #FFF;
}
.btn-choose-void-audio{
    margin-left: 6px;
}
.btn-choose-void-audio svg{
    fill: var(--color-bg-main);
}

.header-tweather .wlb  .wlWrapper .wlName,
.header-tweather .wlb  .wlWrapper .wlTemp,
.header-tweather .wlb  .wlWrapper .wlIcon{
    -webkit-box-flex: unset!important;
    -webkit-flex-grow: unset!important;
    -moz-box-flex: unset!important;
    -ms-flex-positive: unset!important;
    flex-grow: unset!important;
    text-align: left!important;
    width: max-content!important;
}
.header-tweather .wlb  .wlWrapper .wlItem{
    flex-wrap: nowrap!important;
}
.header-tweather .wlb  .wlWrapper .wlName{
    order: 2;
}
.header-tweather .wlb  .wlWrapper .wlTemp{
    order: 3;
}
.header-tweather .wlb  .wlWrapper .wlIcon{
    order: 1;
    margin-left: 0!important;
    margin-right: 5px!important;
}